<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .head-img {
        width: 25px;
        height: 25px;
        }

    </style>
</head>
<body>
  <div>
      用户名：{{ user.username }}
  </div>
  <a>
      <img class=head-img src={{ '/uploads/' + user.user_image + '?v=3&amp;s=120' }}title="atian25"/>
  </a>
  <form method=post action={{ url_for(".add_img") }} enctype=multipart/form-data>
      <p><input type=file name=file></p>
         <input type=submit value=上传图片>
  </form>
</body>
</html>
